In [4]:
import sqlite3

connect = sqlite3.connect('hw2.db')
cursor = connect.cursor()

def query(input):
    cursor.execute(input)
    
    records = cursor.fetchall()
    
    for record in records:
        print(record)

2a

In [6]:
query('''
      select bookname, pubdate
      from Book
      ''')

('fantastybook', '01/01/01')
('book1', '01/01/02')
('book2', '01/01/03')
('book3', '01/01/04')

2b

In [7]:
query('''
      select bookname
      from book as b
      join author as a on a.authorid = b.authorid
      where firstname = 'Stephen'
      ''')

('fantastybook',)

2c

In [8]:
query('''
      select bookname
      from book as b
      join author as a on a.authorid = b.authorid
      where firstname = 'Stephen' and 
      PubDate >= '01/01/00'
      ''')

('fantastybook',)

d) List every writer ID and writer name and the number of books that he/she wrote.

In [23]:
query('''
               select a.Authorid, FirstName, LastName, count(bookname)
               from Author as a
               join Book as b on b.AuthorId = a.AuthorId
               group by a.Authorid, FirstName, LastName
               ''')

(1, 'Stephen', 'hawking', 1)
(2, 'fname1', 'lname1', 1)
(3, 'fname2', 'lname2', 1)
(4, 'fname3', 'lname3', 1)

e) List every book title whose number of pages is less than the average number of pages of all existing books.

In [9]:
query('''
               with AvgBooks as (
                   select avg(NumPages)
                   from Book
               )
               select bookname
               from book
               where numpages < (select * from AvgBooks)
               ''')

('fantastybook',)
('book1',)
('book3',)

In [10]:
query('''
               select bookname, numpages
               from book
               order by numpages
               ''')

('fantastybook', 22)
('book1', 99)
('book3', 200)
('book2', 1000)

In [11]:
query('''
               select *
               from Mentor
               ''')

(1, 1)
(2, 2)
(3, 3)